# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R
tests/

# RStudio files
.Rproj.user
.RData
envalysis.Rproj

# produced vignettes
vignettes/*.html
vignettes/*.pdf
